
body{
    background-image: url("https://cdn.glitch.com/ba0972e8-d60e-4d89-b8a1-0e74f35915bb%2Fchinese-temple.jpg?v=1619971862704");
    
    color:white;
    background-size: 1000px,500px;
}
​
.btn{
    margin-left:25px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50; /* Green */
    color: white;
}
